.toggle-switch {
  margin: 0 20px 0 auto;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease;
}

.toggle-switch:hover {
  border: 2px solid #000;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: #000;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  transition: all 1s;
}

.toggle-switch__text {
  position: absolute;
  top: 7px;
  font-size: 14px;
  line-height: 1;
  color: #7e7e7e;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__text_color_white {
  color: #fff;
}

.toggle-switch:hover
  .toggle-switch__checkbox:not(:checked)
  ~ .toggle-switch__circle {
  width: 30px;
  transform: translateX(0);
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  width: 30px;
  transform: translateX(26px);
}

.toggle-switch:hover
  .toggle-switch__checkbox:not(:checked)
  ~ .toggle-switch__text_F {
  transform: translateX(2px);
  transition: transform 0.2s ease;
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  transform: translateX(-2px);
  transition: transform 0.2s ease;
}
