.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title {
  position: absolute;
  top: 15px;
  display: flex;
  gap: 10px;
}

.card__name {
  margin: 0;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
}

.card__like-btn {
  /* background-image: url(../../images/like.svg); */
  background: url(../../images/like.svg) no-repeat;
  background-size: cover;
  padding: 0;
  align-self: center;
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  /* opacity: 0.4; */
  transition: opacity 0.5s;
}

.card__like-btn:hover {
  /* opacity: 1; */
  cursor: pointer;
}

.card__like-btn_liked {
  background: url(../../images/liked.svg) no-repeat;
  background-size: cover;
  padding: 0;
  align-self: center;
  width: 18px;
  height: 15px;
  transition: opacity 0.5s;
  /* background-color: red; */
}

.card__like-btn_liked:hover {
  cursor: pointer;
}
