.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  line-height: 1.2;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.2;
}

.header__signup-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.2;
}

.header__login-btn {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.2;
}

.header__nav {
  display: flex;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 1;
}

.header__link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 1px #00000080;
}

.header__avatar--placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
