.modal__content_type_confirm-delete {
  padding: 60px 152px;
  max-width: 670px;
}

.modal__title span {
  display: block;
}

.modal__title_type_confirm-delete {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.modal__button_type_confirm-delete-btn {
  color: #ff4d00;
}
