.sidebar {
  font-size: 20px;
}

.sidebar__user {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.sidebar__username {
  margin: 0;
  padding: 15px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
}
.sidebar__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.sidebar__btn {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.2;
}
