.clothes-section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1;
}

.clothes-section__header {
  display: flex;
  gap: 20px;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.clothes-section__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__add-new-btn {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
